@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
		U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
		U+FFFD;
}
@font-face {
	font-family: 'pp_hattonbold';
	src: url('/fonts/pp_hatton_bold_700-webfont.woff2') format('woff2');

	font-weight: normal;
	font-style: normal;
}

@media (min-width: 768px) {
	.h80p {
		height: 85vh;
	}
	.md\:fleeeex {
		display: flex;
	}
	.md\:rotated-text {
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	}
}
@media (max-width: 768px) {
	.md\:scale {
		font-size: 3.2vw;
		white-space: nowrap;
	}
	.md\:para-scale {
		font-size: 2vw;
	}
}

body {
	background-image: url('/assets/wptwebsitebg1.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
h1 {
	font-family: pp_hattonbold;
	font-size: 5vw;
}
/* From https://css.glass */
.card {
	/* From https://css.glass */
	background: rgba(255, 248, 231, 0.85);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(11.6px);
	-webkit-backdrop-filter: blur(11.6px);
}

.FF598F {
	color: rgb(255 89 143);
}

.xffd {
	width: 500px;
	height: 350px;
	background-color: black;
	color: white;
	border-radius: 16px;
}

.cropped {
	width: auto;
	height: auto;
}

p {
	font-family: Montserrat;
	font-size: 1.2vw;
}

/* Scale the font size for larger screens */
