@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'pp_hattonbold';
	src: url('/fonts/pp_hatton_bold_700-webfont.woff2') format('woff2');

	font-weight: normal;
	font-style: normal;
}
body {
	background-image: url('/assets/wptwebsitebg1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
h1 {
	font-family: pp_hattonbold;
}
/* From https://css.glass */
.card {
	/* From https://css.glass */
	background: rgba(239, 235, 235, 1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(11.6px);
	-webkit-backdrop-filter: blur(11.6px);
}

.h-80p {
	height: 90vh;
}

.FF598F {
	color: rgb(255 89 143);
}

.rotated-text {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	translate: -80px;
}
